/* .aboutTransition-appear {
  opacity: 0;
}

.aboutTransition-appear.aboutTransition-appear-active {
  opacity: 1;
  color: black;
  transition: all 0.4s ease-in-out;
} */

.aboutTransition-appear {
  opacity: 0;
  transform: translateY(100px);
}

.aboutTransition-appear.aboutTransition-appear-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.5s linear;
}
