.introTransition-appear {
  opacity: 0.01;
  width: 0px;
}

.introTransition-appear.introTransition-appear-active {
  /* transform: scale(1);
  transition: all 0.5s ease-in-out; */
  opacity: 1;
  width: 100%;
  height: 100%;
}

.introTransition-enter {
  opacity: 0.01;
}

.introTransition-enter.introTransition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.introTransition-leave {
  opacity: 1;
  width: 100%;
  height: 100%;

  display: block;
}

.introTransition-leave.introTransition-leave-active {
  opacity: 0.01;
  width: 0px;
  display: none;
}
